# [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/jriedl1/phanes/blob/test/lab_4.ipynb)

Exercise 1:

In [ ]:
latitude_nyc = 40.7128
longitude_nyc = -74.0060
pop_nyc = 8336817
area_nyc = 783.8

In [ ]:
pop_density_nyc = pop_nyc / area_nyc

In [ ]:
pop_density_nyc

In [ ]:
print(f"Latitude: {latitude_nyc}, Longitude: {longitude_nyc}")

Exercise 2:

In [ ]:
san_fransisco = "San Fransisco"

In [ ]:
san_fransisco_upper = san_fransisco.upper()
print(san_fransisco_upper)

In [ ]:
san_fransisco_lower = san_fransisco.lower()
print(san_fransisco_lower)

In [ ]:
city_name_replaced = san_fransisco.replace("San", "Los")
print(city_name_replaced)

Exercise 3:

In [ ]:
cities = [
    ("New York City", 40.7128, -74.0060),
    ("Los Angeles", 34.0522, -118.2437),
    ("Chicago", 41.8781, -87.6298),
]

In [ ]:
print("Cities", cities)

In [ ]:
cities += [("Miami", 25.7617, -80.1918)]

In [ ]:
print("Cities", cities)

In [ ]:
print(cities[0:2])

Exercise 4:

In [ ]:
eiffel_tower = (48.8584, 2.2945)
print("Latitude:", eiffel_tower[0])
print("Longitude:", eiffel_tower[1])

In [ ]:
# eiffel_tower[0] = 48.8585

Exercise 5:

In [ ]:
countries_visited = ["USA", "Germany", "Austria", "Belgium", "Czech Republic"]
countries_visited = set(countries_visited)
print(countries_visited)

In [ ]:
countries_visited.add("Ireland")
print("Updated Countries", countries_visited)

In [ ]:
# countries_visited.add("Ireland")
# print("Updated Countries", countries_visited)

Exercise 6:

In [ ]:
amazon_river = {
    "Name": "Amazon River",
    "Length": 6400,
    "Countries": ["Brazil", "Peru", "Colombia"],
}

In [ ]:
amazon_river.update({"Average Discharge": 209000})
print(amazon_river)

In [ ]:
amazon_river["Length"] = 6992
print(amazon_river)

Exercise 7:

In [ ]:
tokyo = {"Name": "Tokyo", "Population": 37400068, "Coordinates": (35.6895, 139.6917)}
print(tokyo)

In [ ]:
print("Population:", tokyo["Population"])

In [ ]:
print("Latitude:", tokyo["Coordinates"][0])

In [ ]:
tokyo["Population"] = 14000000
print(tokyo)

Exercise 8:

In [ ]:
sorted_cities = sorted(cities, key=lambda city: city[0])
print(sorted_cities)

In [ ]:
sorted_cities_names = [city[0] for city in sorted_cities]
print(sorted_cities_names)

In [ ]:
sorted_cities_names.pop(2)
print(sorted_cities_names)

Exercise 9:

In [ ]:
if "Length" in amazon_river:
    print("Length is in Amazon River")
else:
    print("Length is not in Amazon River")

In [ ]:
print("Keys in the dictionary:")
for key in amazon_river.keys():
    print(key)

In [ ]:
print("Values in the dictionary:")
for value in amazon_river.values():
    print(value)

Exercise 10:

In [ ]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

In [ ]:
locations_names = [location[0] for location in locations]
print(locations_names)

In [ ]:
locations_dict = {location[0]: (location[1], location[2]) for location in locations}
print(locations_dict)

In [ ]:
print(locations_dict["K2"][0])

Exercise 11:

In [ ]:
geographic_feature = "Amazon River"
print(geographic_feature)

In [ ]:
geographic_feature_lower = geographic_feature.lower()
print(geographic_feature_lower)

In [ ]:
geographic_feature_upper = geographic_feature.upper()
print(geographic_feature_upper)

In [ ]:
country = "Brazil"
full_location = geographic_feature + ", " + country
print(full_location)

In [ ]:
repeated_feature = "-".join([full_location] * 3)

In [ ]:
print(f"Repeated Feature: {repeated_feature}")

Exercise 12:

In [ ]:
lat_string = "40.7128N"
long_string = "74.0060W"
coordinates_exercise12 = "Coordinates: ({}, {})".format(lat_string, long_string)
print(coordinates_exercise12)

In [ ]:
latitude_float = float(lat_string[:-1])
longitude_float = float(long_string[:-1])
formatted_coordinates = "Coordinates: ({}, {})".format(latitude_float, longitude_float)
print(formatted_coordinates)

In [ ]:
point_wkt = f"POINT({longitude_float} {latitude_float})"
print(point_wkt)

Exercise 13:

Exercise 14:

In [ ]:
city_names = [" new york ", "Los Angeles", "CHICAGO"]

In [ ]:
city_names = [city.strip().title() for city in city_names]
print(city_names)

Exercise 15:

In [ ]:
address = "123 Main St, Springfield, USA"
street, city, country = address.split(", ")
print(f"Street: {street}, City: {city}, Country: {country}")

Exercise 16:

In [ ]:
coordinates = [
    (40.7128, -74.0060),  # New York City
    (-33.8688, 151.2093),  # Sydney
    (51.5074, -0.1278),  # London
    (-22.9068, -43.1729),  # Rio de Janeiro
    (35.6762, 139.6503),  # Tokyo
    (-1.2921, 36.8219),  # Nairobi
    (48.8566, 2.3522),  # Paris
    (-34.6037, -58.3816),  # Buenos Aires
]

In [ ]:
for lat, lon in coordinates:
    hemisphere = "Northern" if lat >= 0 else "Southern"
    print(f"Coordinate: ({lat}, {lon}) - {hemisphere} Hemisphere")

Exercise 17:

In [ ]:
counter = 0

while counter < len(coordinates):
    lat, lon = coordinates[counter]
    print(f"Coordinate: ({lat}, {lon})")

    if lat < 0:
        print("Negative latitude. Stopping loop.")
        break

    counter += 1

Exercise 18:

In [ ]:
for lat, lon in coordinates:
    hemisphere = "Eastern" if lon >= 0 else "Western"
    print(f"Coordinate: ({lat}, {lon}) - {hemisphere} Hemisphere")

Exercise 19:

In [ ]:
print("Coordinates in the Southern Hemisphere:")
for lat, lon in coordinates:
    if lat < 0:
        print(f"Coordinate: ({lat}, {lon})")
        continue

Exercise 20:

In [ ]:
import random

count = 0


def generate_coordinate():
    return random.uniform(-90, 90), random.uniform(-180, 180)


while True:
    count += 1
    latitude, longitude = generate_coordinate()
    print(f"Coordinate {count}: Latitude {latitude:.2f}, Longitude {longitude: .2f}")
    if latitude > 50 and longitude > 50:
        print(f"\nCoordinate has met the condition")
        print(f"Latitude: {latitude:.2f}, Longitude: {longitude:.2f}")
        print(f"Total coordinates generated: {count}")
        break